.main {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.dpeoverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #2d1a4b;
  color: #fff;
}

.signup-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 50px;
}

.welcome-section {
  flex: 1;
  max-width: 50%;
}

.welcome-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f0db4f;
}

.welcome-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.reg-btn {
  background: linear-gradient(to right, #f7de6c, #f0db4f);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.signup-container {
  flex: 1;
  max-width: 50%;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}

.signup-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form label {
  font-size: 0.9rem;
  margin-left: -180px;
}

.signup-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.7rem;
}

.signup-button {
  background: linear-gradient(to right, #f7de6c, #f0db4f);
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
